<div class="login-section mt-5">
  <div class="login-section-box p-3">

    <!-- Header -->
    <div class="login-section-header">
      <h3 class="m-0 mb-2">Login</h3>
    </div>

    <!-- Body -->
    <div class="login-form-section mt-3">

      <form #loginForm="ngForm" (ngSubmit)="onLoginFormSubmitted(loginForm)">
        <div class="mb-3">
          <label for="userName" class="form-label">Username<span class="required">*</span></label>
          <input type="text" class="form-control" name="userName" id="userName" required ngModel #useName="ngModel" />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password<span class="required">*</span></label>
          <input type="password" class="form-control" id="password" id="password" required ngModel
            #password="ngModel" />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">LOGIN</button>
        </div>

      </form>
    </div>

  </div>
</div>